@import 'base.css';

#app {
  margin: auto;
  width: 55%;
  height: 95%;
}

.page-content {
  margin-top: 6em;
}

.form-select {
  margin: 0.5em 0;
  background-color: #ffffff !important;
}

.race-results {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-link.active {
  color: #000000 !important;
  background-color: #Ffffff !important;
}

.nav-link:not(.active) {
  color: #Ffffff;
  background-color: #E7473C;
}

.nav-link:not(.active):hover {
  color: var(--color-text);
}


.race-position, .race-position-header {
  position: relative;
  justify-content: space-evenly;
  width: 650px;
  display: grid;
  grid-template-columns: 85px 220px 180px 85px 80px;
}

.favourite-icon {
  position: absolute;
  font-size: 2.5em;
  top: -0.3em;
  right: 0;
}

.favourite-icon:hover {
  cursor: pointer;
}